<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{!-- there is no option for synposis so let's make the focus on the page what everyone is saying about the book if we can get this data rendered I may work on a link to the open library page for the book to make up. But that is gonna be at the end --}}
<body>
    <head>
        <h1>{{title}}</h1>
    </head>
    <div>
        {{book_img}}
    </div>
    {{author_name}}
    {{ISBN}}
    {{rating_average}}

    {{!-- comments down here --}}
</body>
</html>