
   <!-- book page layout -->
<header>
  <h3>{{title}}</h3>
  <p>Author: {{author_name}}</p>
</header>
<div>
  <img
    src='https://covers.openlibrary.org/b/olid/{{cover_edition_key}}-M.jpg'
  />
  {{cover}}
</div>
<div>
  {{rating}}
</div>
<div>
{{ reviews }}
<!-- this is the book review text box -->
<h1> Book Reviews</h1>
</div>
<div>
<form id='review-form'>

  <label for='review'>Review:</label><br />
  <textarea id='review box-border h-32 w-32 p-4 border-4 ' name='review' rows='4' required></textarea><br />
</div>
<div>
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-3">Submit Review</button>
</div>
</form>

<!-- previous reviews -->
      
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-black border-collapse border border-slate-500 ">
        <thead class="text-xs text-black uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 border border-slate-600">Users:</th>
            <th scope="col" class="px-6 py-3 border border-slate-600">Reviews:</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap">{{user}}</th>
            <td class="px-6 py-4">{{review}}</td>
          </tr>
          <tr class="bg-white border-b border-gray-200   hover:bg-gray-50 ">
            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap ">{{user}}</th>
            <td class="px-6 py-4">{{review}}</td>
          
          </tr>
          <tr class="bg-white hover:bg-gray-50 ">
            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap ">{{User}}</th>
            <td class="px-6 py-4">{{review}}</td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
<script src='/js/postreviews.js'></script>